<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Junny : Home</title>
    <link rel="icon" type="image/icon" href="images/tabicon.ico">

    <link rel="stylesheet" type="text/css" href="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="css/animate.min.css">

</head>

<body>
<div id="index">                                           <!-- Index starts here -->
    <div class="container main">
        <div class="row home">
            <div id = "index_left" class="col-md-6 left">
                <img class="img-responsive img-rabbit1" src="/images/work.jpg">
            </div>
            <div id = "index_right" class="col-md-6 text-center right">
                <div class="logo">
                    <img src="images/logo.png" style="width:111px;">
                    <h4>I am Junny</h4>
                </div>
                <p class="home-description">
                    你好，我是Junny，来自米国的网站开发者。我对设计、开发和互动充满热情。我热衷我所做的一切。
                </p>
                <div class="btn-group-vertical custom_btn animated slideinright">
                    <div id="about" class="btn btn-rabbit">关于</div>
                    <div id="work" class="btn btn-rabbit">工作</div>
                    <div id="contact" class="btn btn-rabbit">联系</div>
                </div>
            </div>
        </div>
    </div>
</div>                                                      <!-- index ends here -->

<div id="about_scroll" class="pages ">                      <!-- about strats here  -->
    <div class="container main">
        <div class="row">
            <div class="col-md-6 left" id="about_left">
                <img class="img-responsive img-rabbit2" src="images/about.jpg">
            </div>

            <div class="col-md-6 right" id="about_right">
                <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回首页</a>
                <div id="watermark">
                    <h2 class="page-title" text-center>About</h2>
                    <div class="marker">a</div>
                </div>
                <p class='subtitle'>你好，我是Junny，来自米国的网站开发者。我对设计、开发和互动充满热情。我热衷我所做的一切。
                </p>
                <p class="info">"本人诚实肯干，动手与学习能力强，能吃苦耐劳，对工作认真负责，性格内外兼具，诚恳，虚心好，有耐心，有一定组织与管理能力，善于沟通，在过去几年多的工作期间中严格要求自己，把专业知识与实践相结合，枳极地参加各种社会活动，将我所学用于实践，不断增加自己的个人能力。我怀着自信推荐自己，如果有幸成为贵公司的一员，我愿将从底做起，发挥自己的主动性极能力，竭诚为公司的发展增添光彩，希望贵公司给我一个发展的机会，与贵公司共同发展，共同进步。"</p>
            </div>
        </div>
    </div>
</div>                                                                <!-- About ends here -->

<div id="work_scroll" class="pages">                                  <!-- Work starts here -->
    <div class="container main">
        <div class="row">
            <div class="col-md-6" id="work_left">
                <img class="img-responsive img-rabbit2" src="images/work.jpg">
            </div>

            <div class="col-md-6" id="work_right">
                <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i>返回首页</a>
                <div id="watermark">
                    <h2 class="page-title" text-center>Work</h2>
                    <div class="marker">w</div>
                </div>
                <p class='subtitle'>这是我的网页设计和开发工作的选择。我参与了很多不同类型的项目。
                </p>
                <p class="info">负责商网形象[VisCEO]网页设计/制作/网站管理等方面工作。Possess eight years of professional experience in web designing.Extensive knowledge of current web standards, CSS and HTML.</p>
                <p class="info">负责商网形象[VisCEO]网页设计/制作/网站管理等方面工作。Possess eight years of professional experience in web designing.Extensive knowledge of current web standards, CSS and HTML.</p>
                <p class="info">负责商网形象[VisCEO]网页设计/制作/网站管理等方面工作。Possess eight years of professional experience in web designing.Extensive knowledge of current web standards, CSS and HTML.</p>
            </div>
        </div>
    </div>
</div>                                                                 <!-- Work ends here  -->


<div id="contact_scroll" class="pages">                             <!-- Contact starts here -->
    <div class="container main">
        <div class="row">
            <div class="col-md-6 left" id="contact_left">
                <img class="img-responsive img-rabbit4" src="../images/contact.jpg">
            </div>

            <div class="col-md-6 right" id="contact_right">
                <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回首页</a>
                <div id="watermark">
                    <h2 class="page-title" text-center>Contact</h2>
                    <div class="marker">c</div>
                </div>
                <p class='subtitle'>如果你觉得我还不错，就快来联系我吧！
                </p>
                <!-- form -->
                <form class="form_edit">
                    <div class="form-group">
                        <input type="name" class="form-control" id="exampleInputName" placeholder="姓名">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="留言"></textarea>
                    </div>
                    <button type="submit" class="btn btn-rabbit submit">发送</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="text-center">
        <div class="container bottom">
            <div class="row">
                <div class="col-sm-12">
                    <p>Made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by <a href="#">Themewagon</a> More Templates <a href="http://www.youtiy.com/" target="_blank" title="周元俊博客">周元俊博客</a> - Collect from <a href="http://www.youtiy.com/" title="网页模板" target="_blank">网页模板</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>                                                              <!-- Contact ends here -->
<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>